body {
  background: url(stars.png) no-repeat center center fixed;
    background-size: cover;
  perspective: 200px;
  overflow: hidden;
}


p {
    text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: #fcd000;
  font-weight: bold;
  width: 900px;
  margin: 0 auto;
  transform: rotateX(10deg);
    animation: animateCrawl 60s;
    animation-delay: 5s;
    opacity: 0;
    
    line-height: 1.8;
    letter-spacing: 2px;
    
  }


@keyframes animateCrawl {
    0%   { transform: rotateX(8deg) translateY(145px); opacity:0; }
    1% {opacity:1;}
    100% { transform: rotateX(8deg) translateY(-3000px); opacity:1;}
}

h1{
    color: dodgerblue;
    font-family: arial;
    text-align: center;
    margin-top: 200px;
    animation: disapear;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes disapear{
    0% {opacity:1;display: block;}
    100% {opacity:0; display:none;}
}

