body {
  background: #111;
  perspective: 200px;
  overflow: hidden;
}

p {
    text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  color: #fcd000;
  font-weight: bold;
  width: 600px;
  margin: 0 auto;
  transform: rotateX(10deg);
    animation: animateCrawl 40s;
    
  }
p span { 
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes animateCrawl {
    0%   { transform: rotateX(45deg) translateY(285px); }
    100% { transform: rotateX(45deg) translateY(-1500px); }
}
h1{
    color: dodgerblue;
    font-family: arial;
    text-align: center;
    margin-top: 200px;
    animation: disapear;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes disapear{
    0% {opacity:1;display: block;}
    100% {opacity:0; display:none;}
}